*{
    
}
body {
    background-color: bisque;
}
.table {
    border: 10px;
    border-color: blueviolet;
}
p{
    color: black;
    text-align: justify;
}
h1{
    color: royalblue;
}
b{
    color: chocolate;
}
.red{
    color: red;
    text-align: center;
}
#redcolor{
    color: red;
    text-align: center;
}
b.color{
    color: green;
}
.center{
    text-align: center;
}
h1.color{
   /* color: blueviolet;  predefined color name*/
   /* color:rgb(255, 0 , 0) ;  rgb */
   background-color: rgba(255 , 0 , 0 , .2);

}
.background{
    background-color: darksalmon;
    padding: 20px;
}
.bold{
    font-weight: bold; 
}
